body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.input-field.focus {
    border-bottom: 1px solid #03a9f4 !important;
    box-shadow: 0 1px 0 0 #03a9f4 !important;
}

.input-field:focus {
    border-bottom: 1px solid #03a9f4 !important;
    box-shadow: 0 1px 0 0 #03a9f4 !important;
}

input:focus {
    border-bottom: 1px solid #03a9f4 !important;
    box-shadow: 0 1px 0 0 #03a9f4 !important;
}

.faded {
    color: #81d4fa !important;
}

.chip:focus {
    background-color: #03a9f4 !important;
}

.link:hover {
    cursor: pointer;
}

.chip:hover {
    background-color: #81d4fa !important;
    cursor: pointer !important;
}

tr {
    border-bottom: none !important;
}

.modal {
    width: 100% !important;
}

.datepicker-date-display {
    background-color: #03a9f4 !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #ff9800 !important;
}

.datepicker-table td.is-selected {
    background-color: #03a9f4 !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    border: 2px solid #03a9f4 !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: #03a9f4 !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
    border: 2px solid #03a9f4 !important;
}

.sidenav li {
    line-height: 0px !important;
}

.nav-content{
    padding-left: 32px !important;
    padding-right: 32px !important;
}



