/* label color */
.input-field label {
    color: red !important;
}
/* label focus color */
.input-field input:focus + label {
    color: red !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}
/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: red !important;
}