<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>No Idle</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</head>
<body>
<div class="container">
    <h1>Main page</h1>
    <div class="container unauthenticated">
        <div>
            <p><a href="/login">login</a><p>
        </div>
    </div>
    <div class="container authenticated" style="display:none">
        <p> Logged in as: <span id="user"><span id="userName"></span>&nbsp;<span id="userId"></span></span></p>
        <div><p>
            <button onClick="logout()" class="btn btn-primary">Logout</button>
        </p></div>
    </div>
</div>

<script type="text/javascript">
    // $.ajaxSetup({
    //     beforeSend: function (xhr, settings) {
    //         if (settings.type === 'POST' || settings.type === 'PUT'
    //             || settings.type === 'DELETE') {
    //             if (!(/^http:.*/.test(settings.url) || /^https:.*/
    //                 .test(settings.url))) {
    //                 // Only send the token to relative URLs i.e. locally.
    //                 xhr.setRequestHeader("X-XSRF-TOKEN",
    //                     Cookies.get('XSRF-TOKEN'));
    //             }
    //         }
    //     }
    // });

    $.get("/user", function (user) {
        $("#userName").html(user.name);
        $("#userId").html(user.id);
        $(".unauthenticated").hide();
        $(".authenticated").show();
    });

    var logout = function () {
        $.post("/logout", function () {
            $("#user").html('');
            $(".unauthenticated").show();
            $(".authenticated").hide();
        });
        return true;
    }
</script>
</body>
</html>
